<% if (typeof isAuth === 'undefined') { var isAuth = false; } %>

<header class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">MicroPost</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navi-items"
                aria-controls="navi-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navi-items" class="navbar-collapse collapse hide">
            <ul class="nav navbar-nav ml-auto">
                <% if(isAuth){ %>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/users"><span class="fas fa-users"></span> Users</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/users/<%= current_user.id %>"><span class="fas fa-user-cog"></span>
                                Profile</a>
                            <a class="dropdown-item" href="/accounts/edit"><span class="fas fa-cog"></span> Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/accounts/logout"><span class="fas fa-sign-out-alt"></span> Log
                                Out</a>
                        </div>
                    </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/signin"><span class="fas fa-sign-in-alt"></span> Sign In</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</header>
