<form action="/" method="post" class='form-signin'>
    <div  class="field">
        <textarea name="content" maxlength="140" placeholder="Compose new micropost..."></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Post</button>
</form>