<form action="/microposts" method="post">
    <div class="field">
        <textarea name="content" maxlength="140" placeholder="Compose new micropost..."></textarea>
    </div>
    <button class="btn btn-primary btn-sm btn-block" type="submit">Post</button>
</form>