<div class="stats">
    <a class="nav-link" href="/users/<%= userId; %>/following">
        <strong id="following" class="stat">
            <%= totalFollowing; %>
        </strong>
        following
    </a>
    <a class="nav-link" href="/users/<%= userId; %>/followers">
        <strong id="followers" class="stat">
            <%= totalFollowers; %>
        </strong>
        followers
    </a>
</div>